<launch>
    <node pkg="simscape_demo" type="gravity_node" name="gravity_node" output="screen">
        <param name="Kp" value="5.0" type="double" />
        <param name="Ki" value="0.0" type="double" />
        <param name="Kd" value="8.0" type="double" />
        <param name="target_pos" value="1.14" type="double" />
        <param name="gravity_compensation" value="true" type="bool" />
    </node>
</launch>
