<launch>
    <node pkg="turtlebot_path_tracker" name="turtlebot_path_generator" type="turtlebot_path_generator" output="screen"/>
    <node pkg="turtlebot_path_tracker" name="turtlebot_path_tracker" type="turtlebot_path_tracker" output="screen">
        <rosparam>
            arrive_dis: 0.2
            LD: 0.5
            Ke: 0.5
        </rosparam>
    </node>
</launch>